@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clear_fix::before, 
.clear_fix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    background-color: #fff;
    color: #333;
    font-family: "고딕";
    font-size: 14px;
}
#wrap{
    width: 1000px;
    display: flex;
}
.left{
    width: 200px;
    height: 650px;
    /* background-color: #eee; */
}
.logo{
    height: 100px;
    padding-top: 30px;
    border-bottom: 3px double rebeccapurple;
}
.logo a{}
.logo a img{}

.nav{}

.main{
    width: 180px;
    margin: 30px auto 0;
}
.main > li{
    margin-bottom: 10px;

}
.main > li> a{
    display: block;
    border-radius: 15px;
    background-color: rebeccapurple;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.main > li:hover> a{
    background-color: rosybrown;
    color: rebeccapurple;
}

.sub{
    display: none;
}
.sub li{
    margin-top: 5px;
}
.sub li a{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;

    border-radius: 10px;
    background-color: cornflowerblue;
}
.sub li a:hover{
    color: white;
}

.right{
    width: 800px;
    height: 650px;
    /* background-color: gray; */
}
.slide_img{
    height: 350px;
    /* background-color: darkkhaki; */
    width: 100%;
}
.fade{
    width: 100%;
    height: 350px;
    position: relative;
}
.fade li{
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
}
.fade li a{}
.fade li img{
    width: 800px;
    height: 350px;
}

.content{
    height: 200px;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

.content > div{
    width: 266px;
    height: 200px;
    /* background-color: lightblue; */
}
.cont1{
    position: relative;
}
.cont1 h2{
    width: 80px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
.cont1 h2.on{
    background-color: rosybrown;
    z-index: 3;
}

.cont1 ul{
    width: 260px;
    height: 170px;
    background-color: lightblue;
    position: absolute;
    left: 0;
    top: 30px;
}

.notice{}
.notice ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.notice ul li{
    height: 25px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.notice ul li a{
    display: block;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice ul li:hover a{
    text-decoration: underline;
}
.notice ul li:hover{
    background-color: #eee;

}
.notice ul li span{

}

.gallery{}
.gallery h2{
    left: 80px;
}
.gallery ul{
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    height:170px;
    display: none;
}
.gallery ul li{
    width: 80px;
    height: 140px;

}
.gallery ul li a{
    display: block;
    height: 100%;
    background-size: cover;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
}
.gallery ul li a.g1{
    background-image: url("../img/gallery1.jpg");
}
.gallery ul li a.g2{
    background-image: url("../img/gallery2.jpg");

}
.gallery ul li a.g3{
    background-image: url("../img/gallery3.jpg");

}

.cont2{}
.cont2 p{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
.cont2 p a{
    text-indent: -9999px;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.cont3{}
.cont3 p{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: url("../img/qlink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
.cont3 p a{
    text-indent: -9999px;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.footer{
    height: 100px;
    /* background-color: gold; */
    display: flex;
    justify-content: space-between;
}

.f_left{
width: 200px;
height: 100px;
padding-top: 30px;
background-color: rosybrown;
}
.f_right{
    width: 600px;
    height: 100px;
}
.f_menu_top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f_menu_top li{
    margin: 0 5px;
}
.f_menu_top li:hover{
    text-decoration: underline;
}
.copy{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px dotted #999;
}
.pop_layer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.pop{
    width: 400px;
    height: 500px;
    border: 3px solid rebeccapurple;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    display: none;
}
.pop h4{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
.pop p{
    line-height: 1.5;
    margin: 15px 0;
    text-align: justify;
}
.close{
    float: right;
    margin-right: 20px;
    margin-top: 90px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
    padding: 5px 10px;
}